// Ouverture du menu burger
@keyframes menu-in {
    0% {
      clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
      clip-path: ellipse(120% 120% at 0% 50%);
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }

// Fleche a propos de moi
@keyframes shake-horizontal {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}



// CUBE
@keyframes spin {
	from {
		transform: rotateX(0) rotateY(0);
	}
      to {
		  transform: rotateX(360deg) rotateY(360deg);
      }
    }