/* Colors variables */
$dark-purple: #2e2b3b;
$dark-purple2: #141119;
$dark-purple-transparent: #141119f6;
$light-purple: rgb(59, 59, 221);
$light-purple2: #413553;
$dark-blue: #061125;
// $dark-blue: #1a3d5b;



/* Sections variables */
$section-padding-y-default: 3rem;
$section-padding-x-default: 6rem;
$navigation-height-phone: 4.25rem;