// Imports
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,500');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700');

/* Font variables */
$font-size-default: 16px;
$font-family-default: 'Open Sans Condensed', sans-serif;
$font-family-title: 'Crimson Text', sans-serif;

